/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/** new stuff that we worked on. delete the stuff up top if needed */

.container {
  border: solid blue 2px;
}

.container-2 {
  border: solid blue 2px;
}

.container-3 {
  border: solid blue 2px;
}

.container-4 {
  border: solid blue 2px;
}

.container-grid-4-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
  border: solid purple 2px;
}


.container-2-grid-3-1 {
  display: grid;
  text-align: center;
  grid-template-columns:repeat(3,1fr);
}

.container-3-grid-3-2 {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;
}

.container-4-grid-2-1 {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  color: pink;
}

.container-5-grid-5-1 {
  display: grid;
  border:black solid 1px;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  color: violet;
}

.menu-container-grid-6-1 {
  display: inline-grid;
  grid-template-columns: repeat(6, minmax(80px, 1fr));
  align-content: center;
  border: solid yellow 5px;
}

.menu-container-grid-6-1>div:nth-child(1) {
  background-color: rgb(94, 192, 142);
}

.menu-container-grid-6-1>div:nth-child(2) {
  background-color: rgb(244, 189, 65);
}

.menu-container-grid-6-1>div:nth-child(3) {
  background-color: rgb(206, 105, 102);
}

.menu-container-grid-6-1>div:nth-child(4) {
  background-color: rgb(67, 143, 184);
}

.menu-container-grid-6-1>div:nth-child(5) {
  background-color: rgb(51, 106, 157);
}

.bourgir {
  width: 50%;
  height: 50%;
  margin: auto;
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  border: solid yellow 5px;
}

.logo img {
  height: 100%;
  width: 100%
}

.main {
  display: grid;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.sub-header-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  border: solid blue 2px;
}

.container-sub {
  display: grid;
  justify-content: center;
  border: solid yellow 2px;
}

.sub-header-container-2 {
  display: grid;
  justify-content: center;
  border: solid yellow 2px;
}

.box {
  border: solid yellow 2px;
  margin: auto;
}

.sub-header-container-3 {
  display: grid;
  justify-content: center;
  border: solid yellow 2px;
}

.sub-header-container-4 {
  display: grid;
  justify-content: center;
  border: solid yellow 2px;
  }

* {
  font-family: Arial, Helvetica, sans-serif;
}

.main-header-container {
  display: grid;
  justify-content: center;
  border: solid red 2px;
}

.menu-contents {
  border: solid orange 2px;
  
}

.icon img {
  height: 20%;
  width: 20%;
  margin-top: 15%;
 
}

.menu-name {
  display: flex;
  justify-content: flex-start;
  margin-left: 6%;
  margin-bottom: -30%;
  font-size: .7em;
}

.menu-name p {
  color: white;
}

.minions img{
  height: 18rem;
  width: 55vw;
}

.minions {
  display: flex;
  justify-content: center;
  background: rgb(238, 238, 238);
}

.footer-container {
  display: grid;
  justify-content: center;
  border: solid blue 2px;
}

.square {
  border: solid yellow 2px;
  margin: auto;
}

.box img {
  height: 100%;
  width: 100%;
  color: white;
}

.square img {
  height: 100%;
  width: 100%;
}

.intro {
  display: grid;
  justify-content: center;
  border: solid blue 2px;
}

.big-card {
  border: solid red 2px;
}

.big-card img {
  height: 100%;
  width: 100%;
}

.m-col-1 {
  border: solid yellow 2px;
}

.m-col-1 p{
  font-size: 0.5rem;
  margin-top: -7%;
}

.container-grid-4-1 img {
  height: 15%;
  padding: 0.675rem;
}

/* Phone */
@media screen and (max-width: 39.9375em) {
  .menu-container-grid-6-1{
    grid-template-columns: repeat(1,1fr);
  }

  .menu-container-grid-6-1>h6{
    display: none;
  }

  .menu-contents{
    display:none;
  }
  .bourgir {
    display: block !important;
    width: 15%;
    height: 15%;
    margin-top: 2%;
}
  .sub-header-container {
    width: 100vw;
  }
  .logo{
    margin: auto;
  }
  .container-grid-4-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-2-grid-3-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .container-2-grid-3-1 div:nth-child(1) {
    grid-column: span 1;
  }
  
  .container-2-grid-3-1 div:nth-child(4) {
    display: inline-block;
  }
  
  .container-3-grid-3-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-4 {
    display: none;
  }
  .container-5-grid-5-1 {
    display: none;
  }
  .container-grid-4-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* tablet */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .container-grid-4-1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .container-2-grid-3-1 {
    display: grid;
    grid-template-columns: repeat(2fr, 2fr);
  }
  .container-2-grid-3-1 div:nth-child(4) {
    display: inline-block;
  }
  .container-2-grid-3-1 div:nth-child(1) {
    grid-row: span 1;
  }
  .container-3-grid-3-2 {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .container-4-grid-2-1 {
    grid-template-columns: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-grid-4-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}